html, body {
    height: 100%;
    background-color: #f5fdc6;
}

.banner {
    background-color: #a6d49f;
}
.cuerpo {
    background-color: #f5fdc6;
}

body {
    background-color: #f5fdc6;
}
.form-control {
    height: 100%;

}
.list-group{
    
    position: relative;
    padding: 20px;
    margin-left:20px
  
}
.list-group-item {
    font-family: 'Raleway', sans-serif;
    background-color: #ffd151;
    border-color: #ffd151;
    text-align: center;
}
.list-group-item:hover {
    background-color: #ffd151;
}
.btn {
    background-color: #ffd151;
    color: white;
    border-color:  #ffd151;
}
.btn:hover {
    color: white;
}
.btn:focus{
    color:white;
}

.mi-post {
  height:200px;
  margin-bottom: 25px;
margin-left: 20px;
padding-right: 80px;
}
#post-personal {
    height: 190px;
}

.card-body {
    padding-right: 50px;
}

#logo {
    font-family: 'Just Another Hand', cursive;
    text-align: center;
    padding-top:50px;
}
.ad {
    margin-top: 10%;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 20px;
}

#ad-uno {
    width: 100%;
}

#ad-dos {
    width: 100%;
}
#lateral{
    width: 100%;
    position:absolute;
}
#eliminar {
    padding-top: 1%;

    margin-bottom: 2%;

}
#menu-lateral {
    background-image: url("images/comida-menu.jpg");
  
}

html,body {
    height: 100%;
}