html, body {
    height: 100%;
}
.banner {
    background-color: #a6d49f;
}
.cuerpo {
    background-color: #f5fdc6;
}

body {
    background-color: #f5fdc6;
}
.form-control {
    height: 100%;
} 
.list-group-item {
    font-family: 'Raleway', sans-serif;
    background-color: #ffd151;
    border-color: #ffd151;
}
.list-group-item:hover {
    background-color: #ffd151;
}
.btn {
    background-color: #ffd151;
    color: white;
    border-color:  #ffd151;
}
.btn:hover {
    color: white;
}

.mi-post {
  height:170px;
  margin-bottom: 25px;
}
