.container-fluid{
    background-color:#FFD151;
    font-family: 'Raleway', sans-serif;
    border: 10px;
    border-left: 20px solid #E77728;
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    
}
.titulo{
    color: rgb(97, 160, 97);
    text-align:center;
    font-family: 'Raleway', sans-serif;
}
.btn-primary {
    background-color:#E77728;

}
.btn-primary:hover {
    background-color: #a6d49f;
}
html,body{
    height: 100%;
}