

.container{
    font-family: 'Raleway', sans-serif;
}
.titulo {
    background-color: #ffd151;
    text-align: center;
    padding-top: 70px;
}
.btn-primary {
    background-color: #a6d49f;
    border-color: #a6d49f;

}
.btn-primary:hover{
    background-color:#ffd151;
    border-color: #ffd151;

}
.btn-primary:focus{
    outline-color: #ffd151;
}
.form-control:focus{
    outline-color: #a6d49f;
}
.cuerpo {
    background-color: #f5fdc6;
}

html, body {
    height: 100%;
    background-color: #f5fdc6;
}
h1 {
    padding-bottom: 70px;
    color: black;
    font-size: 100px;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 1px;
}

#imagen{
    width: 600px;
}
.overflow-hidden {
    overflow: hidden;
}
body {
    overflow: hidden;
}

@media (max-width:780px) {
    .login {
        position: absolute;
    }
}